body {
    background-image: url("silverhand.jpg");
    background-size: 100%;
    margin: 0px;
    width: 100%;
}

header {
    color: white;
    display: flex;
    margin-left: 25px;
}

.header-left {
    display: flex;
    font-size: 20px;
}

.header-right {
    display: flex;
    float: right;
}

.search-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 70%;
    background-color: white;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.downl-img {
    size: 15%;
}

.search-category {
    border-radius: 12px;
    margin-left: 7px;
    margin-right: 7px;
    width: 9%;
    height: 50px;
    border-width: 1px;
    border-color: gray;
    background-color: white;
    margin-top: 5px;
}

.search-category:hover {
    background-color: blue;
    color: white;
}

.vl {
    border-left: 2px solid gray;
    height: 60px
  }

.search {
    border: none;
    color: gray;
    margin-bottom: 0px;
    width: 60px;
}

.submit {
    margin-top: 2%;
    margin-left: 2%;
    border: none;
}